Page{
    background-color: #FFFFFF;
    color: black;
    opacity: .87;
}

ActionBar{
   background-color: #F44336;
   font-size:20;
}

ActionItem{
    color:#FFF;
}

.list-view-item{
	height: 48;
	font-size: 16;
	padding-top: 16;
	padding-left: 20;
}
